/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-text-primary: #3A3A3A;
    --clr-text-secondary: #18191F;
    --clr-third: #0A0826;
    --clr-text-paragraph-primary: #787885;
    --clr-text-paragraph-secondary: #6C6C6C;
    --clr-text-light-gray: #5E6366;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-btn: #E02C6D;

    --ff-poppins: 'Poppins',
        sans-serif;
    --ff-inter: 'Inter',
        sans-serif;
    --ff-roboto: 'Roboto',
        sans-serif;
    --ff-manrope: 'Manrope',
        sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* utility classes */
.container {
    display: block;
    max-width: 1110px;
    width: 96%;
    margin-inline: auto;
}

button {
    border: none;
    background: none;
}

.primary-btn {
    text-decoration: none;
    color: var(--clr-white);
    background-color: var(--clr-btn);
    font-family: var(--ff-poppins);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    display: inline-block;
    border-radius: 30px;
}

.primary-btn[data-radius="0"] {
    border-radius: 0;
}

.section-gap {
    margin-top: 100px;
}

.section-title {
    text-align: center;
    font-family: var(--ff-poppins);
    font-weight: 600;
    font-size: 28px;
    color: var(--clr-text-primary);
}

/* =======================================
            main header style
==========================================*/
.main-header {
    padding-top: 85px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo a {
    color: var(--clr-text-primary);
    font-size: 24px;
    font-family: var(--ff-poppins);
    font-weight: 700;
    text-decoration: none;
}

.nav-link-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
}

.nav-link ul {
    list-style: none;
    display: flex;
    gap: 34px;
}

.nav-link ul li a {
    text-decoration: none;
    color: var(--clr-text-primary);
    font-family: var(--ff-poppins);
    font-size: 1rem;
    font-weight: 600;
}

.nav-cart {
    display: flex;
    gap: 34px;
}

.nav-cart button i {
    font-size: 24px;
}

/* =========================================
                hero style
============================================*/
.hero-area {
    margin-top: 50px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 133px;
}

.hero-text-side .hero-title {
    color: var(--clr-text-primary);
    font-family: var(--ff-poppins);
    font-size: 52px;
    font-weight: 700;
}

.hero-text-side .hero-description {
    font-family: var(--ff-poppins);
    font-weight: 600;
    font-size: 1rem;
    margin-block: 1rem;
}

/* =====================================
                e-commerce
========================================*/
.e-commerce-sec {
    margin-top: 70px;
}

.e-commerce-hr {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border: none;
}

.e-commerce-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    padding-block: 36px;
}

.e-commerce-content img {
    display: block;
    margin-inline: auto;
}

/* ===================================
        collection section
======================================*/
.collections {
    margin-top: 30px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.collection {
    padding: 1rem 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection img {
    display: block;
    margin-inline: auto;
}

.collection .title {
    margin-top: 1rem;
    color: var(--clr-text-secondary);
    font-family: var(--ff-poppins);
    font-weight: 500;
}

.collection .price {
    font-size: 24px;
    font-family: var(--ff-inter);
    margin-top: 6px;
    font-weight: 400;
    margin-bottom: 10px;
}

.collection .rating ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.collection .rating ul li {
    color: #FB8200;
    font-family: var(--ff-roboto);
    font-size: 14px;
}

.collection .rating ul li:last-child {
    color: var(--clr-text-light-gray);
    margin-left: 10px;
}

.collection-description {
    color: var(--clr-text-paragraph-primary);
    font-size: 14px;
    font-family: var(--ff-inter);
    font-weight: 700;
}

.collection-btn {
    margin-top: 50px;
    display: block;
    margin-left: auto;
}

.collection-btn a {
    color: var(--clr-btn);
    background: none;
}

/* ======================================
        featured-products style
=========================================*/
.featured-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 96px;
}

.featured-left img {
    max-width: 404px;
}

.featured-right .featured-title {
    font-size: 38px;
    font-family: var(--ff-poppins);
    font-weight: 700;
    color: var(--clr-third);
}

.featured-right .featured-description {
    margin-top: 1rem;
    color: var(--clr-text-paragraph-secondary);
    font-size: 1rem;
    font-family: var(--ff-poppins);
    font-weight: 700;
}

.featured-right .featured-btn {
    margin-top: 1rem;
}

/* =======================================
                footer style
==========================================*/
.main-footer {
    background-color: #0A0826;
    padding-block: 50px;
}

.footer-content {
    text-align: center;
    line-height: 36px;
}

.footer-content .footer-title {
    font-family: var(--ff-poppins);
    font-weight: 700;
    font-size: 24px;
    color: var(--clr-white);
}

.footer-content .copyright-text {
    font-family: var(--ff-manrope);
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-white);
}

.footer-social {
    list-style: none;
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social li {
    width: 32px;
    height: 32px;
    background-color: var(--clr-text-light-gray);
    font-size: 1rem;
    border-radius: 50%;
}